@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.img {
  border: 1px solid #f1356d;
}


.navbar {
  padding: 25px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}

.navbar button {
  background: #f1356d;
  color: #fff;
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.navbar button:hover{
  color: #fff;
  background: #881839;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}



.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.content {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

/* restaurant previews / list */
.restaurant-preview {
  padding: 10px 16px;
  margin: 20px 0;
  background-color:whitesmoke;
  border-bottom: 1px solid #fafafa;
  border-radius: 25px;
  border-color: grey;
  border-width: 5px;
}
.restaurant-preview:hover {
  box-shadow: 5px 7px 9px blueviolet;
  background-color: #c8f3d8
}
.restaurant-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.restaurant-preview a{
  text-decoration: none;
}

/* restaurant details page */
.restaurant-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.restaurant-details div {
  margin: 20px 0;
}


.restaurant-details button {
  background: #f1356d;
  color: #fff;
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.restaurant-details button:hover{
  color: #fff;
  background: #881839;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



/* create new restaurant form */
.create {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 2px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.remove button {
  background: red;
  color: #fff;
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.remove button:hover{
  color: black;
  background: yellow;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.filter button {
  background: #f1356d;
  color: #fff;
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;
}

.filter button:hover{
  color: #fff;
  background: #881839;
}